::selection {
    background: #a5b4fc;
    color: #000;
}

::-moz-selection {
    background: #a5b4fc;
    color: #000;
}




.support-section-nav li.active > a {
    color: #333;
    font-weight: 500;
}

.support-section-nav a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: #ccc;
    transition: all 50ms ease-in-out;
}

    .support-section-nav a:hover,
    .support-section-nav a:focus {
        color: #666;
    }


.keyboard {
    border: 1px solid gray;
    font-size: 1rem;
    box-shadow: 1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 2px 3px;
    padding: 1px 5px;
}
